<!DOCTYPE html>
<html>

<head>
    <title>Menagerie</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>

<body>
    <header>
        <nav><a href="{{url_for('index')}}">Home</a>
            <ul>
                <li><a href="{{url_for('search')}}">Search</a></li>
            </ul>
        </nav>
        <h1>Hello, visitors!</h1>
    </header>
    <main>
        <section>
            {# TODO: Add search form here #}
        </section>
    </main>
</body>

</html>