<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome {{ greeting }}!</title>
        <link rel="stylesheet" href="https://unpkg.com/mvp.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1 id="uniqueElement">Pokemon encyclopedia</h1>
        {% if data %}
            <table>
                <thead>
                    {% for field in data[0].keys() %}<th>{{ field }}</th>{% endfor %}
                </thead>
                <tbody>
                    {% for monster in data %}
                        <tr>
                            {% for key, value in monster.items() %}
                                {% if key == "Name" %}
                                    <td>
                                        <a href="{{ url_for('details', number=monster['ID']) }}">{{ value }}</a>
                                    </td>
                                {% elif key == "Type 1" %}
                                    <td class={{ value|lower }}>
                                        {{ value }}
                                    </td>
                                {% else %}
                                    <td class="idk">{{ value }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Nothing found</p>
        {% endif %}
    </body>
</html>
