<!DOCTYPE html>
<html>

<head>
    <title>Pokemon details</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>

<body>
    <main>
        {{data}}
    </main>
</body>


</html>