<html>

<head>
    <title>Pokemon cards</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>

<body>
    <h1>Hello!</h1>
    <main>
        <section>
            {{ poke_data }}
        </section>
    </main>
</body>

</html>