<!DOCTYPE html>
<html>

<head>
    <title>Pokemon main</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>

<body>
    <main>
        <h1>Pokemon data</h1>
        <section>
            {% if data %}
            <table>
                <thead>
                    {% for trait in data[0]%}<th>{{trait}}</th>{%endfor%}
                </thead>
                <tbody>
                    {% for monster in data %}
                    <tr>
                        {% for key, value in monster.items() %}
                        {% if key == "#" %}
                        <td><a href="{{ url_for('details', number=value)}}">{{value}}</a></td>
                        {% else %}
                        <td>{{ value }}</td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </section>
    </main>
</body>


</html>