<!DOCTYPE html>
<html>

<head>
    <title>Pokemon main</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>

<body>
    <main>
        <h1>Pokemon data</h1>
        <section>
            <form>
                <label>Type</label>
                <select name="type">
                    {% for t in types %}
                    <option value="{{t}}">{{ t }}</option>
                    {% endfor %}
                </select>
                <label>Generation</label>
                <select name="generation">
                    {% for g in generations %}
                    <option value="{{g}}">{{g}}</option>
                    {% endfor %}
                </select>
                <label>Min total</label>
                <input type="number" name="minTotal">
                <label>Max total</label>
                <input type="number" name="maxTotal">
                <input type="submit" value="Search">
            </form>
        </section>
    </main>
</body>

</html>